body{
    font-family: 'Pathway Gothic One', sans-serif;
    text-shadow: 3px 3px 3px black;
    color:white;
    background-color: #281008;
}

header{
    margin: -8px;
    height: 100vh;
    width: 101,5%;
    background-image: url("images/capa-sydney-troxell.jpg");
    background-repeat: no-repeat;    
    background-position: center 50%;
    background-size: cover;
}


header div{
    padding-top: 30vh;
    padding-bottom: 50vh;
    margin-top: auto ;
}

header h1 {
    margin: 0px;
    text-align: center;
    font-size: 9vw;

    font-family: 'Dancing Script', cursive;


}

header h2 {
    margin: 0px;
    margin-top: 20px;

    text-align: center;
    font-size: 2vw;
    color:white;

}


#cardapio{
    margin-left: 50px;
    margin-right: 50px;   
    margin-bottom: 50px;     
}


.pizza-esquerda{
    margin-top: 20px;

    padding-top: 20px;
    padding-bottom: 10vh;
    padding-left: 20px;
    padding-right: 50px;
    border-left: 12px solid #9C1100;
    background-color: rgb(189, 43, 21);
    border-radius: 5px;


}

.pizza-esquerda img{
    margin-top: 1%;
    position: absolute;
    width: 15vw;
    height: 15vw;
}

.pizza-esquerda-texto{
    margin-top: 1rem;
    margin-left: 20vw;
    font-size: 1.3vw;
    border-left: 2px solid white;
    padding: 10px;

}

#pizzaria{
    margin: -8px;
    height: 800px;
    width: 101,5%;
    background-image: url("images/pizzaria-artūras-kokorevas.jpg");
    background-repeat: no-repeat;    
    background-position: center 15%;
    background-size: cover;
}

#pizzaria-texto{
    color:white;
    padding: 20px;
    background-color: rgb(0, 0, 0, 0.5);
    width: 50%;
    font-size: 1vw;
    text-align: center;

    position: relative;
    top: 14%;
    left: 25vw;
}

#caixa-icones{
    margin-top: 120px;
    margin-left: 40vw;
}

#caixa-icones img{
    width: 10%;
    height: 10%;
    margin-left: 20px;
}

footer{
    margin: -8px;
    background-color: rgb(189, 43, 21);
    padding: 10px;
    text-align: right;
}